﻿@model IEnumerable<Products>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page | Products";
}

<div>
    <h1 class="display-4">Admin Page - Product Page</h1>
    <p>RentalParty Web, provide easy to rent party tools and materials</p>

    <partial name="_Notification" />

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                Add New Product
            </a>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search"/>
        </p>
    }
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
              @Html.ActionLink("Name", "IndexAdmin", new{sortOrder = ViewBag.NameSortParm})
          </th>
          <th scope="col">Desc</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">
              @Html.ActionLink("Last Update", "IndexAdmin", new{sortOrder = ViewBag.LastUpdateSortParm})
          </th>
          <th scope="col">Shop</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Name</td>
              <td>@obj.Desc</td>
              <td>@obj.Stock</td>
              <td>@obj.Price</td>
              <td>@obj.LastUpdateTime</td>
              <td>@obj.ShopId</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    </div>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    </div>
</div>
