﻿@model IEnumerable<Shop>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page";
}

<div>
    <h1 class="display-4">Admin Page - Shop Page</h1>
    <p>RentalParty Web, provide easy to rent party tools and materials</p>

    <partial name="_Notification" />

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Shop List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Shop" asp-action="Create" class="btn btn-primary">
                Create New Shop
            </a>
        </div>
    </div>
    <form asp-controller="Shop" asp-action="IndexAdmin" method="get">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    </form>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Name</td>
              <td>@obj.Location</td>
              <td>@obj.CreatedDateTime</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Shop" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    </div>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Shop" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    </div>
</div>
